[Unit]
Description="Self-hosted Docker Registry"
After=home.mount

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/docker-registry start
